body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-set {
    margin: 0 auto;
    max-width: 60px;
}
.container-narrow > hr {
    margin: 10px 0;
}




